:root {
  /* Primary */

  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */

  --very_dark_blue: hsl(212, 21%, 14%);
  --dark_grayish_blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--cream);
}

#root {
  display: flex;
  border-radius: 10px;
  background-color: var(--white);
  margin: auto;
  width: 50%;
  height: 60vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#left {
  flex: 1;
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 50%;
}

#right {
  flex: 1;
  padding: 1.25rem;
}

#title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--dark_grayish_blue);
  padding-bottom: 1rem;
}

#header {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 1.5px;
  color: var(--very_dark_blue);
  padding: 0.5rem 0;
}

#main_text {
  color: var(--dark_grayish_blue);
  font-weight: 700;
  padding: 0.5rem 0;
}

#price_container {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}

#new_price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--dark_cyan);
}

#old_price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-right: 2rem;
}

#old_price span {
  font-size: 0.75rem;
  opacity: 0.9;
  text-decoration: line-through;
  color: var(--dark_grayish_blue);
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: var(--dark_cyan);
  /* background-image: url(./images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: ; */
  color: var(--cream);
  width: 100%;
  border: none;
  border-radius: 7.5px;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button img {
  padding-right: 5px;
}

body p {
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  #root {
    width: 70%;
    flex-direction: column;
  }

  #left {
    background-image: url("./images/image-product-mobile.jpg");
    min-width: 100%;
    width: 100%;
    min-height: 50%;
  }

  #right {
    flex: 2;
  }
}
