.header {
  display: flex;
  width: 100%;
  min-height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3vw;
  margin-bottom: 2rem;
}

.headerLight {
  background-color: var(--White);
}

.headerDark {
  background-color: var(--DM_DarkBlue);
}

.header button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.headerLight button,
.headerLight button img {
  color: var(--LM_VeryDarkBlue);
}

.headerDark button {
  color: var(--White);
}

.headerDark button img {
  filter: invert(98%) sepia(100%) saturate(12%) hue-rotate(224deg)
    brightness(103%) contrast(100%);
}

.header button img {
  height: 1.25rem;
  width: 1.25rem;
}

@media screen and (min-width: 375px) {
  .header {
    margin-bottom: 4rem;
  }
}