:root {
  /* Light Mode Elements & Dark Mode Text */
  --White: #ffffff;
  /* Light Mode */
  --LM_VeryDarkBlue: #111517; /* Text */
  --LM_DarkGray: #858585; /* Input */
  --LM_VeryLightGray: #fafafa; /* Background */
  /* Dark Mode */
  --DM_DarkBlue: #2b3945; /* Elements */
  --DM_VeryDarkBlue: #202c37; /* Background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.appLight {
  background-color: var(--LM_VeryLightGray);
  color: var(--LM_VeryDarkBlue);
}

.appDark {
  background-color: var(--DM_VeryDarkBlue);
  color: var(--White);
}

/* .inputFilterRow {} */

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

@media screen and (min-width: 375px) {
  .header,
  .inputFilterRow,
  .body {
    padding-inline: 6vw;
  }

  .inputFilterRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .inputFilterRow .inputContainer {
    padding-inline: 0;
  }
}

