:root {
  /* Primary */
  --Bright_Blue: #3a7bfd;
  --Check_Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Neutral */
  /* Light Theme */
  --Light__Very_Light_Gray: #fafafa;
  --Light__Very_Light_Grayish_Blue: #e4e5f1;
  --Light__Light_Grayish_Blue: #d2d3db;
  --Light__Dark_Grayish_Blue: #9394a5;
  --Light__Very_Dark_Grayish_Blue: #484b6a;
  /* Dark Theme */
  --Dark__Very_Dark_Blue: #161722;
  --Dark__Very_Dark_Desaturated_Blue: #25273c;
  --Dark__Light_Grayish_Blue: #cacde8;
  --Dark__Light_Grayish_Blue_hover: #e4e5f1;
  --Dark__Dark_Grayish_Blue: #777a92;
  --Dark__Very_Dark_Grayish_Blue: #4d5066;
  --Dark__Very_Dark_Grayish_Blue_2: #393a4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: var(--Light__Very_Dark_Grayish_Blue);
}

.header,
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  height: 65vh;
  justify-content: flex-start;
}

.todoItemList,
.todoFooter {
  position: relative;
  width: 40%;
  background-color: var(--Light__Very_Light_Gray);
  list-style: none;
  border: 1px solid var(--Light__Very_Light_Gray);
}

.todoItemListDark,
.todoFooterDark {
  border: none;
}

.bodyLight {
  background-color: var(--Light__Very_Light_Grayish_Blue);
}

.bodyDark {
  background-color: var(--Dark__Very_Dark_Blue);
  color: var(--Dark__Light_Grayish_Blue);
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .header > *,
  .todoItemList,
  .todoFooter {
    width: 60%;
  }
}

@media screen and (min-width: 530px) and (max-width: 700px) {
  .header > *,
  .todoItemList,
  .todoFooter {
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  .header,
  .body {
    padding-inline: 2.5%;
  }

  .header > *,
  .todoItemList,
  .todoFooter {
    width: 95%;
  }

  .todoFooterControls {
    position: absolute;
    border-radius: 0.25rem;
    width: 100%;
    margin-left: -1rem;
    margin-top: 25vh;
    background-color: var(--Light__Very_Light_Gray);
    padding: 1rem;
  }

  .todoFooterControls ul {
    justify-content: center;
    gap: 1rem;
  }

  .todoFooterControlsDark {
    background-color: var(--Dark__Very_Dark_Desaturated_Blue);
    color: var(--Dark__Light_Grayish_Blue);
  }
}
